@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", serif;
}
.container{
    width: 87.5%;
    margin: 0 auto;
}
body{
    background-image: linear-gradient(60deg, #ffff,#7921ed );
}
.btn{
    background-color: #872BFF;
    border-radius: 20px;
    padding: 18px 25px;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: all .3s;
}
.btn:hover{
    background-color: #ff2bed50;
    color: #fff;
}

.btn-container{
    text-align: center;
}
.btn-center{
    display: block;
    margin: 0 auto;
}
.img{
    width: 100%;
}
.banner{
    padding: 60px 0px;
}
.banner-box{
    width: 87.5%;
    margin: 0 auto;
    padding: 20px 30px;
    background-image: linear-gradient(rgb(255,255,255, 0.9),#ffffff80), url(./../images/hero-bg.png);
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content h1{
    font-size: 42px;
    margin-bottom: 20px;
}
.banner-content p{
    color: #a8a8a8;
}
.banner-img{
    width: 600px;
}
.services{
    padding: 60px 0;
}
.service-box{
    width: 87.5%;
    margin: 0 auto;
}
.service-heading{
    margin-bottom: 30px;
    text-align: center;
}
.service-heading p{
    color: #F411CF;
    font-weight: bold;
    margin-bottom: 10px;
}
.service-heading h2{
     font-size: 32px;
}
.service-card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.service-card{
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    max-width: 300px;
}
.service-card .service-icon{
    width: 50px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.service-card h2{
    margin-bottom: 40px;
}
.service-card p{
    margin-bottom: 30px;
    color: #a8a8a8;
    line-height: 30px;
}

.service-card-1{
    background: linear-gradient(180deg,#c3f7fe, #ffffe4);
}
.service-card-2{
    background: linear-gradient(180deg,#c3fec4, #ffffe4);
}
.service-card-3{
    background: linear-gradient(180deg,#fec3ca, #ffffe4);
}
.coutries{
    padding: 60px;
}
.countries-box{
    width: 87.5%;
    margin: 0 auto;
}
.country-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
}
.country-card{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 1s;
}
.country-card:hover{
    background-color: #872bff10;
    color: #fff;
}
.spot{
    padding: 60px 0;
}
.spot-box{
    width: 87.5%;
    margin: 0 auto;
}
.spot-card-content{
    margin: 30px 0;
}
.spot-card{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.spot-card-img{
    width: 600px;
}
.reviews{
    padding: 60px 0;
}
.review-card{
    background-color: #fff;
    background-image: url(../images/star-reviews.png);
    background-repeat: no-repeat;
    background-position: 10px 130px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
}
.review-card * {
    margin-bottom: 20px;
}
.newsletter{
    padding: 60px 0;
}

.newsletter-card{
    background-color: #fff;
    padding: 100px 0;
}
.newsletter-card form{
    display: flex;
    justify-content: center;
}
.newsletter-card form input{
    width: 60%;
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
    font-size: 24px;
    border-radius: 10px 0 0 10px;
}

.newsletter-card form button{
    border-radius: 0 10px 10px 0;
    padding: 0 20px;
    background-color: #7921ed;
}
